{% extends 'base.html' %}
{% load static %}

{% block head %}

{% endblock %}

{% block content %}
 <div class="card text-dark bg-white mb-3" style="max-width: 30rem; mx-auto">
        <h2>{{ dog.name }}</h2>
          <h2>Is A {{ dog.age }} year old {{dog.sex}} {{ dog.breed }} </h2>
          <br/>
          <h3>How do they act around other dogs and people: {{dog.temperment}}</h3>
           <br/>
          <h3>Training includes: {{dog.training}}</h3>
      </div>
       <a href="{% url 'meetup_update' dog.id %}"> <button class="btn btn-warning">Edit</button></a>
    <a href="{% url 'meetup_delete' dog.id %}"> <button class="btn btn-danger">Delete</button></a>
    </div>
{% endblock %}

